.radio {
  display: flex;
  gap: 10px;
  align-items: center;

  & > input {
    appearance: none;
    -webkit-appearance: none;
    background-color: $light-gray;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    transition: all $transition;

    &:focus-visible {
      outline-offset: 0;
    }

    &:checked {
      box-shadow: 0 0 0 1px $accent;
      border: 4px solid $accent;
      background-color: $white;
    }
  }
}
