.input {
  &__element {
    padding: 12px;
    border: 1px solid $light-gray;
    border-radius: 7px;
    width: 100%;
    font-size: 16px;

    &:focus {
      outline: 1px solid $accent;
    }

    &::placeholder {
      color: $light-gray;
      font-size: 16px;
    }
  }

  &__label {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  &--md {
    height: 40px;
  }

  &--lg {
    height: 48px;
  }
}
