$white: #fff;
$white-30: rgba(255, 255, 255, 0.3);

$light-gray: #d0d0d4;
$main-bg: #e6e7ea;

$text-light: rgba(43, 43, 43, 0.5);
$text-main: #2b2b2b;

$black: #232524;
$accent: #342ae3;
$purple: #a97af5;
$green: #aae63f;
$accent-10: rgba(51, 42, 227, 0.1);

$error: #f74a4a;

$screen-lg: 1440px;
$screen-md: 1024px;
$screen-sm: 768px;
$screen-xs: 580px;

$transition: 0.2s;
