.project-listing-page {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__head {
    padding: 80px 0;

    a {
      margin-top: 20px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  &__h1 {
    font-size: 60px;
    font-weight: 400;
    text-align: center;
  }

  &__tags {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__tag {
    flex-basis: 280px;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;

    &--purple {
      background: $purple;
      color: $white;
    }

    &--gray {
      background: $light-gray;
    }

    &--green {
      background: $green;
    }
  }
}
